<h1>Address creation</h1>

<form action="{{ path('address_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <!--<a href="{{ path('address') }}">-->
        <a href="javascript:window.history.back();">
            Regresar a la lista
        </a>
    </li>
</ul>
