<h1>RecordMaterial creation</h1>

<form action="{{ path('recordmaterial_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('recordmaterial') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
