<html>
	<head>
		<title>Biblioteca Los Mangos - Puerto Vallarta</title>
	</head>
	<body>
		<h1>Bienvenido <span style="color:#EB2323">{{app.user.username | default('Desconocido')}}</span>P치gina principal de Los mangos</h1>
		<ul>
			<li><a href="{{path('AcmeUserBundle_admin')}}">Panel de Administraci칩n</a></li>
			<li><a href="{{path('_welcome')}}login">Iniciar  Sesi칩n</a></li><!-- Tambien se puede utilizar app.request.requesturi para obtener la ruta del principal-->
			<li><a href="{{path('_welcome')}}logout">Cerrar Sesi칩n</a></li>
		</ul>
	</body>
</html>